@model BusinessObject.Viewmodel.CStudent

@{
    ViewData["Title"] = "CreateStudent";
}
@{
    Layout = "_LayoutStaff";
}


<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light"> Teacher management /</span> Create account
</h4>
<div class="row">
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-body">
                <form asp-action="AddAccount">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row mb-3 form-group">
                        <label class="col-sm-2 col-form-label control-label" asp-for="Email"></label>
                        <div class="col-sm-10">
                            <input asp-for="Email" class="form-control phone-mask" placeholder="Input your Email">
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                    <div class="row mb-3 form-group">
                        <label class="col-sm-2 col-form-label control-label" asp-for="Password"></label>
                        <div class="col-sm-10">
                            <input asp-for="Password" class="form-control phone-mask" placeholder="Input your password">
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="row mb-3 form-group">
                        <label class="col-sm-2 col-form-label control-label" asp-for="Fullname"></label>
                        <div class="col-sm-10">
                            <input asp-for="Fullname" class="form-control phone-mask" placeholder="Input your full name">
                        </div>
                        <span asp-validation-for="Fullname" class="text-danger"></span>
                    </div>
                    <div class="row mb-3 form-group">
                        <label class="col-sm-2 col-form-label control-label" asp-for="Major"></label>
                        <div class="col-sm-10">
                            <input asp-for="Major" class="form-control phone-mask" placeholder="Input your Major">
                        </div>
                        <span asp-validation-for="Major" class="text-danger"></span>
                    </div>
                    <div class="row mb-3 form-group">
                        <label class="col-sm-2 col-form-label control-label" asp-for="Coures_id"></label>
                        <div class="col-sm-10">
                            <select asp-for="Coures_id" class="form-control phone-mask" asp-items="ViewBag.KhoaHocSVList"></select>
                        </div>
                        <span asp-validation-for="Coures_id" class="text-danger"></span>
                    </div>
                  
                    <div class="row form-group">
                        <div class="col-sm-10">
                            <input type="submit" value="Save" class="btn btn-outline-success" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end">
    <a class="btn btn-danger ml-auto" asp-action="TeacherIndex">Back to List</a>
</div>
