@model IEnumerable<BusinessObject.Data.Class_Role>

@{
    ViewData["Title"] = "ClassRoleIndex";
}
@{
    Layout = "_LayoutStaff";
}



<h4 class="fw-bold py-3 mb-4">Class</h4>
<div class="clearfix mb-3">
    <a class="btn btn-success float-end" style="color: white;" asp-action="AddClassRole">Create New</a>
</div>
<div class="row">
    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="EditClassRole" asp-route-id="@item.Class_Role_id">Edit</a> |
                <a class="btn btn-sm  btn-danger" asp-action="Delete" asp-route-id="@item.Class_Role_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>

<h4 class="fw-bold py-3 mb-6">Class option:</h4>

<div class="d-flex ">
    <a class="btn btn-success  ml-auto" asp-action="StudentClassIndex">Student</a>
    <a class="btn btn-success  ml-auto" asp-action="TeacherClassIndex">Teacher</a>
</div>

