@model BusinessObject.Data.Class_Role
@{
    Layout = "_LayoutStaff";
}
<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light"> Class /</span> Edit Class
</h4>
<div class="row">
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-body">
        <form asp-action="EditClassRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Class_Role_id" />

                    <div class="row mb-3 form-group">
                        <label class="col-sm-2 col-form-label control-label" asp-for="Name"></label>
                        <div class="col-sm-10">
                            <input asp-for="Name" class="form-control phone-mask">
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-10">
                            <input type="submit" value="Save" class="btn btn-outline-success" />
                        </div>
                    </div>
            
        </form>
    </div>
</div>
</div>
</div>
<div class="d-flex justify-content-end">
    <a class="btn btn-danger ml-auto" asp-action="ClassRoleIndex">Back to List</a>
</div>

