@model BusinessObject.Data.Teacher_Class

@{
    ViewData["Title"] = "EditTeacherClass";
}

<h1>EditTeacherClass</h1>

<h4>Teacher_Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTeacherClass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Study_Class_id" />
            <div class="form-group">
                <label asp-for="Class_Role_id" class="control-label"></label>
                <select asp-for="Class_Role_id" class="form-control" asp-items="ViewBag.KhoaHocSVList"></select>
                <span asp-validation-for="Class_Role_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher_Course_id" class="control-label"></label>
                <select asp-for="Teacher_Course_id" class="form-control" asp-items="ViewBag.Teacher_Course_id"></select>
                <span asp-validation-for="Teacher_Course_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

