@model BusinessObject.Data.Category_Course

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light"> Course catalog management /</span> Add category
</h4>

<div class="row">
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Add Category</h5>
            </div>
            <div class="card-body">
                <form asp-action="AddCategory">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-3 form-group">
                        <label class="col-sm-2 col-form-label control-label" asp-for="Category_name" >Category name</label>
                        <div class="col-sm-10">
                            <input asp-for="Category_name" class="form-control phone-mask" placeholder="Input Category name.">
                        </div>
                        <span  asp-validation-for="Category_name" class="text-danger"></span>
                    </div>
          
                    <div class="row mb-3 form-group">
                        <label class="col-sm-2 col-form-label control-label" asp-for="Category_description">Category description</label>
                        <div class="col-sm-10">
                            <input asp-for="Category_description" class="form-control phone-mask" placeholder="Input Category description.">
                        </div>
                        <span asp-validation-for="Category_description" class="text-danger"></span>
                    </div>
                   
                    <div class="row justify-content-end form-group">
                        <div class="col-sm-10">
                            <input type="submit" value="Create" class="btn btn-outline-success" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end">
    <a class="btn btn-danger ml-auto" asp-action="CategoryIndex">Back to List</a>
</div>

