@model IEnumerable<BusinessObject.Data.Course>

@{
    ViewData["Title"] = "Course";
}
<h4 class="fw-bold py-3 mb-4">Course management</h4>
<div class="clearfix mb-3">
    <a class="btn btn-success float-end" style="color: white;" asp-action="AddCourse">Create New</a>
</div>
<div class="row">
    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
    <thead>
        <tr>
            <th>
                Coures Name
            </th>
            <th>
               Category Course
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Coures_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_Course.Category_name)
            </td>
            <td>
                <a asp-action="EditCourse" class="btn btn-sm btn-warning" asp-route-id="@item.Coures_id">Edit</a> |
                <a href="#" data-id="@item.Coures_id" class="btn btn-sm btn-danger btnDelete"> Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
@section scripts {
    <script>


        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('You Delete Coures ?');

                if (conf === true) {

                    $.ajax({
                        url: '/admin/DeleteCourse',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                                location.reload();
                            }
                        }
                    });
                }
            });
        });

    </script>
}

