@model BusinessObject.Viewmodel.DetailTeacher

@{
    ViewData["Title"] = "Detailcourse";
}
@{
    Layout = null;
}
<h1>Detailcourse</h1>

<div>
    <h4>Course</h4>
   
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher_Course.Course.Coures_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher_Course.Course.Coures_name)
        </dd>
      
      <buton>
            <a asp-action="Exercise">Bai tap</a>
      </buton>


    </dl>

</div>
<div>
    <a asp-action="">Back to List</a>
</div>
